body{
	font-family: 'Roboto', sans-serif;
	background: #fff;
}

/*=============================
			header
=================================*/
header{
	height: 41px;
	background: #333333;
	position: relative;
}

header li a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 41px;
	margin:0;
}

header li a:hover{
	text-decoration: none;
	color: #F58320;
	transition-duration: 0.4s;
}


.social-list{
	display: block;
	float: left;
}

.social-list li{
	display: inline-block;
}

header a{
	color: #fff;
	font-family: 'Asap', sans-serif;
	display: block;
	float: right;
	margin-right: 30px;
	line-height: 41px;
	font-size: 12px;
}

header a:hover{
	color: #fff;
	text-decoration: underline; 
}

.glyphicon-earphone{
	color: #F58320;
}

.header-text{
	color: #C8C8D2;
	position: absolute;
	right: 210px;
	top: 13px;
	font-family: 'Asap', sans-serif;
	font-size: 10px;
	display: block;
	border-right: 1px dotted #fff;
	padding-right:10px;
	line-height: 12px
	
}

/*=============================
			nav
=================================*/

nav{
	height: 104px;
	background: url(../images/nav-fon.jpg);
	position: relative;
}

#nav-img{
	height: 104px;
	width: 249px;
	background: url(../images/nav.jpg);
	display: block;
	float: left;
	position: absolute;
}

#nav{
	height: 104px;
	width: 710px;
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	display: block;
	padding:0;
	margin-right: 150px;
	float: right;
	transition-property: 0.5s;
}

#nav a{
	color: #fff;
	font-weight: 600;
	padding: 0 25px 0 25px;
}

#nav li{
	height: 104px;
	display: inline-block;
	line-height: 104px;
}

#nav li:hover{
	background: #F68D37;
	transition-duration: 0.4s;
}

#nav a:hover{
	text-decoration: none;	
}

#nav li:hover> #nav-lev2{
	opacity: 1;
	display: block;
}

#nav-lev2{
	width: 235px;
	position: absolute;
	display: none;
	color: #FFF;
	background: #323232;
	font-size: 14px;
	line-height: 37px;
	padding: 20px 0 20px 0;
	box-shadow: 1px #fff;
	transition: opacity 0.5s ease-out 0.3s;
	z-index:2;
	opacity: 1;
}

#nav-lev2 li{
	line-height: 37px;
	height: 37px;
	display: block;
}

#nav-lev2 li:hover{
	background: #F4872D;
}

#nav-lev2 li:hover> #nav-lev3{
	display: block;
	opacity: 1;
}

#nav-lev2 li a{
	display: block;
	height: 37px;
	width: 340px;
	padding-left: 27px;
	line-height: 37px;
	font-weight: 400;
}

#nav-lev3{
	width: 235px;
	position: absolute;
	display: none;
	color: #FFF;
	background: #323232;
	font-size: 14px;
	line-height: 37px;
	padding: 20px 0 20px 0;
	box-shadow: 1px #fff;
	left: 105%;
	top: 93px;
	transition: opacity 0.3s ease-out 0.1s;
	opacity: 0;
	z-index:3;
}


.search{
	position: absolute;
	color: #333333;
	right: 35px;
	top: 30px;
	font-size: 33px;
}
.search:hover{
	color: #fff;
	transition-duration: 0.3s;
}

/*=============================
		content
=================================*/

#text{
	width: 950px;
	margin: 100px auto 0;
	text-align: center;
	font-family: inherit;
	color: #333333;
	font-weight: 300;
	line-height: 40px;
	letter-spacing: -0.5px;
}

#text p{
	font-size: 14px;
	color: #ADADAD;
	font-weight: 300;
	line-height: 24px;
	font-family: 'Roboto', sans-serif;
	margin-top: 30px;
}

#text h3{
	font-weight: 300;
	text-transform: uppercase;
	line-height: 40px;
	text-align: center;
	letter-spacing: -0.5px;
	font-size: 34px;
}

#text a{
	display: block;
	margin: 50px auto 122px;
	height: 63px;
	width: 227px;
	border-radius: 4px;
	line-height: 63px;
	color: #f58521;
	border: 1px solid #f58521;
	font-size: 22px;
	font-weight: lighter;
	transition:background 0.2s ease,right 0.2s ease;
}

#text a:hover{
	color: #fff;
	background: #f58521;
	text-decoration: none;
}

#col-3{
	height: 493px;
	background: #F4F4F4;
	border-bottom: 1px solid #DDDDDD;
	border-top:	1px solid #DDDDDD;
	text-align: center;
	color: #777777;
	font-size: 16px;
}

#col-3 a{
	width: 150px;
	display: block;
	margin: 100px auto 0;
	text-decoration: none;
}

#col-3 a:hover>h3{
	color: #f58521;
}

#col-3 a:hover>i{
	color: #fff;
	background: #f58521;
}

#col-3 i{
	height: 139px;
	width: 139px;
	display: block;
	margin: 0 auto;
	line-height: 139px;
	text-align: center;
	background: #CDCDCD;
	border-radius: 50%;
	font-size: 55px;
	color: #333333;
	transition:background 0.5s ease,right 0.3s ease;
	transition:color 0.4s ease,right 0.3s ease;
}

#col-3 h3{
	color: #333333;
	transition:color 0.3s ease,right 0.3s ease;
}

#button{
	height: 370px;
	width: 100%;
	text-align: center;
}

#button li{
	display: inline-block;
}

#button h3{
	font-weight: 300;
	line-height: 40px;
	text-align: center;
	font-size: 34px;
	margin-top: 150px;
}

#button p a{
	font-size: 18px;
	color: #f58521;
	font-weight: lighter;
	display: inline-block;
	transition:color 0.3s ease,right 0.3s ease;
	border: none;
	margin-bottom: 50px;
}

#button p a:hover{
	color: #777;
	text-decoration: none;
}

#button button{
	display: inline-block;
	height: 63px;
	border: 1px solid #333333;
	line-height: 63px;
	border-radius: 5px;
	background: #fff;
	font-size: 22px;
	padding: 0 20px 0 20px;
	margin-right: 10px;
}

#button button:hover{
	border: 1px solid #f58521;
	color: #f58521;
}

#text2{
	text-align: center;
	height: 470px;
	width: 100%;
	margin: 0 auto;
	background: #525355;
	color: #ffffff;
	padding-top: 100px;
}

#text2 p{
	padding-top:20px;
	color:#fff;
}

.row{
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

#text2 a{
	display: block;
	margin: 70px auto 50px;
	height: 63px;
	width: 227px;
	border-radius: 4px;
	line-height: 63px;
	color: #f58521;
	background: #3EB123;
	color: #fff;
	font-size: 22px;
	transition:background 0.2s ease,right 0.2s ease;
}

#text2 a:hover{
	color: #fff;
	background: #4B9D39;
	text-decoration: none;
}

/*=============================
		about us
=================================*/

.orang{
	color: #F47B13;
}

.text-divider{
	line-height: 44px;
	color: #A5A5A5;
}

hr{
	padding:0;
	margin: 0;
}

p{
	color: #929292;;
}

img{
	margin:20px 0 10px 0;
}

h4{
	margin:20px 0 30px 0;
}

h5{
	padding-bottom: 40px;
	padding-top: 10px;
}

.center{
	text-align: center;
}

#about-box-2{
	background: #F5831F;
	border: 1px solid #F5831F;
	height: 600px;
	width: 100%;
	color: #fff;
	text-align: center;
}

#about-box-2 h3{
	margin-top: 80px;
	line-height: 40px;
	letter-spacing: -0.5px;
	font-size: 34px;
}

#about-box-2 h4{
	font-size: 24px;
}

#about-box-2 h5{
	font-size: 18px;
}

#about-box-2 span{
	font-size: 18px;
}

.eva{
	display: block;
	height: 206px;
	width: 206px;
	border-radius: 50%;
	background: url(../images/page2-img2.jpg);
	margin: 0 auto;
}

.david{
	display: block;
	height: 206px;
	width: 206px;
	border-radius: 50%;
	background: url(../images/page2-img3.jpg);
	margin: 0 auto;
}

.natalie{
	display: block;
	height: 206px;
	width: 206px;
	border-radius: 50%;
	background: url(../images/page2-img4.jpg);
	margin: 0 auto;
}

.thomas{
	display: block;
	height: 206px;
	width: 206px;
	border-radius: 50%;
	background: url(../images/page2-img5.jpg);
	margin: 0 auto;
}

/*====================================
			services
=================================*/
#services-box1{
	align: left;
	padding-top: 50px;
}

#services-box1 h3,h5{
	text-align: center;
}

#services-box1 img{
	display: block;
	float: left;
	margin-right: 28px;
}


.services-caption{
	overflow: hidden;
}	
	
#services-box1 a{
	display: block;
	margin: 50px auto 122px;
	height: 63px;
	width: 227px;
	border-radius: 4px;
	line-height: 63px;
	color: #f58521;
	border: 1px solid #f58521;
	font-size: 22px;
	font-weight: lighter;
	transition:background 0.2s ease,right 0.2s ease;
	text-align: center;
}

#services-box1 a:hover{
	color: #fff;
	background: #f58521;
	text-decoration: none;
}
	
#services-box2{
	background:#F4F4F4;
	text-align: center;
	padding: 50px 0;
}

#services-box2 i{
	display: block;
	height: 139px;
	width: 139px;
	border-radius: 50%;
	background: #CDCDCD;
	margin: 0 auto;
	font-size: 55px;
	line-height: 139px;
	color: #333333;
	transition: background 0.2s ease,right 0.2s ease;
}

#services-box2 a{
	width: 150px;
	display: block;
	margin:0 auto;
	text-decoration: none;
	color: #333333;
	font-size: 24px;
	transition:background 0.2s ease,right 0.2s ease;
}

#services-box2 a:hover>h4{
	color: #f58521;
}

#services-box2 a:hover>i{
	color: #fff;
	background: #f58521;
}
/*====================================
			products
=================================*/
#products-box1{
	text-align: center;
}


/*====================================
			contacts
=================================*/
#contacts-box1{
	padding: 50px 0;
}	

#contacts-box1 h3{
	text-align: center;
}	

#contacts-box1 label{
	width:100%;
}	
	
#contacts-box1 input{
	width: 100%;
	height: 62px;
	padding-left: 10px;
	color: #333333;
	font-size: 14px;
	outline: none;
}	

#contacts-box1 textarea{	
	width: 100%;
	height: 162px;
	padding-left: 10px;
	color: #333333;
	font-size: 14px;
	margin-top: 25px;
	outline: none;
}	
	
#contacts-box1 a{
	display: block;
	width: 186px;
	height: 63px;
	border: 1px solid #F58521;
	border-radius: 5px;
	color: #F58521;
	margin: 40px auto 0;
	font-size: 22px;
	transition: 0.3s;
	text-align: center;
	line-height: 63px;
}

#contacts-box1 a:hover{
	text-decoration: none;
	background: #F58521;
	color: #fff;
}

#contacts-box2{
	text-align: center;
	background: #F4F4F4;
	border-top: #DDDDDD;
	border-bottom: #DDDDDD;
	padding: 50px 0;
	line-height: 24px;
	padding-left: 37px;
	color: #777777;
	font-size: 16px;
}

.left{
	display: inline-block;
	float: left;
	line-height: 24px;
}

.right{
	display: inline-block;
	float: right;
	line-height: 24px;
}

#contacts-box2 table{
	width:100%;
}

#contacts-box2 h4{
	color: #333333;
	font-size: 24px;
}

#contacts-box2 a{
	color: #777777;
}

#contacts-box2 .col-sm-4, .col-xs-12{
	padding: 0 50px;
}







	
/*=============================
		footer
=================================*/

#footer{
	background: #333333;
	color: #fff;
	font-size: 12px;
}

#footer  li a{
	list-style: none;
	text-decoration: none;
	transition: 0.3s;
	font-size: 11px;
	color: #8f8f8f;
}

#footer  li a:hover{
	color: #F5831F;
}

#footer  p{
	font-size: 11px;
	color: #8f8f8f;
	padding: 20px 0 10px;
}

#footer li{
	list-style: none;
}

#footer ul{
	padding:0;
}

#footer .col-xs-3{
	padding: 100px 55px;
}

.telephone{
	display:inline-block;
	font-size: 27px;
	color: #ffffff;
	font-weight: 400;
	padding-bottom: 20px;
}

#footer a{
	color: #fff;
	font-size: 12px;
}






