body{
	margin: 0;
	padding: 0;
	font-family: Voltaire, sans-serif;
}
						/* ================
								menu 
						=================*/
#menu{
	height: 118px;
	width: 100%;
	background: url(../images/menu.jpg);
	display: block;
	float: left;
}

#menu_center{
	height: 64px;
	width: 955px;
	margin: 25px auto 0;
	display: block;
	background: url(../images/logo.png) no-repeat;
	background-position: 309px 9px;
}

#menu_center_text{
	display: inline-block;
	height: 42px;
	width: 299px;
	background: url(../images/menu-text.jpg);
	margin-top: 15px;
	margin-right: 50px;
	float: left;
}

#menu_center ul{
	display: inline-block;
	margin: 0;
	float: left;
	position: absolute;
}

#menu_center li{
	display: inline-block;
	list-style: none;
	height: 64px;
	line-height: 64px;
	padding: 0 8px 0 10px;
	position: relative;
	float: left;
}

.menu_li-border{
	border-right: 1px solid #2D3135;
}

#menu_center li a{
	display: inline-block;
	list-style: none;
	height: 64px;
	line-height: 30px;
	height: 30px;
	border-radius: 15px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	padding: 0 21px;
	text-decoration: none;
}

#menu_center li a:hover{
	background: #2D3135;
}

#menu_center li:hover{
	display: block;
}

#menu_center li a.menu_li-activ{
	background: #F53600;
}

#menu_level-2{
	display: none;
	z-index: 3;
	height: 195px;
	width: 152px;
	border: 1px solid red;
	position: absolute;
}

#menu_level-3 {
	height: 195px;
	width: 152px;
	display: none;
	z-index: 4;
	border: 1px solid green;
	position: absolute;
}

#m_level-1_li-activ ul ul li:hover> #menu_level-2{
	display: block; 
}

#m_level-2_li-activ ul ul:hover>#menu_level-3{
	display: block; 
}

						/* ================
							home box-1 
						=================*/
						
#home_box-1{
	height: 468px;
	width: 100%;
	display: block;
	float: left;
	background: #24292D;
}

#home_box-1_center{
	height: 463px;
	width: 1328px;
	background-image: url(../images/home_box1.jpg);
	margin: 0 auto;
}
			
					/* ====================
							home box-2 
					=====================*/

#home_box-2{
	height:1250px;
	width: 100%;
	background-image: url(../images/box2-fon.png);
}

#home_box-2_center{
	width: 942px;
	margin: 0 auto;
}

.home_box-2_line{
	width: 320px;
	display: inline-block;
	float: left;
	color:#CCCCCC;
	margin-top: 50px;
	opacity: 0.5;
}

.w1z{
 color: #24292D;
 font-size: 35px;
}

#home_box-2_our-projects{
	width: 302px;
	height: 117px;
	display: inline-block;
	float: left;
	position: relative;
	font: 400 24px/24px "Voltaire", sans-serif;
	text-transform: uppercase;
	color: #24292d;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.37);
	line-height: 117px;
}

#home_box-2_our-projects_4col{
	width: 100%;
	height: 423px;
	display: block;
	float: left;
}

.home_box-2_our-projects_4column{
	width: 235px;
	height: 325px;
	display: block;
	float: left;
}
.home_box-2_our-projects_4column a{
	text-decoration: none;
	color: #24292D;
	font-family: Voltaire, sans-serif;
	font-size: 18px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: auto;
	line-height: 54px;
	
}

.home_box-2_our-projects_4column a:hover{
	color: red;
}

p{
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12px;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 21px;
}

.home_box-2_our-projects_4column:hover>.home_box-2_4column{
	background: #F53600;
}

.home_box-2_4column{
	width: 220px;
	height: 144px;
	display: block;
	float: left;
	background: #ccc;
	border-radius: 3px;
}

.home_box-2_4column-img1{
	width: 220px;
	height: 138px;
	display: block;
	background-image: url(../images/page1_img1.png);
	border-radius: 3px;
}

.home_box-2_4column-img2{
	width: 220px;
	height: 138px;
	display: block;
	background-image: url(../images/page1_img2.png);
	border-radius: 3px;
}
.home_box-2_4column-img3{
	width: 220px;
	height: 138px;
	display: block;
	background-image: url(../images/page1_img4.png);
	border-radius: 3px;
}
.home_box-2_4column-img4{
	width: 220px;
	height: 138px;
	display: block;
	background-image: url(../images/page1_img1.png);
	border-radius: 3px;
}

.home_box-2_4linkb{
	width: 232px;
	height: 50px;
	display: inline-block;
}

.home_box-2_links4{
	display: inline-block;
	background: #24292d;
	color: #ffffff;
	font: 700 12px/21px "Trebuchet MS", sans-serif;
	padding: 5px 35px 4px 18px;
	position: relative;
	border-radius: 15px;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.48);
	margin-top: 10px;
}

.home_box-2_links4:hover{
	background: #F53600;
}

#home_box2_baner{
	width: 940px;
	height: 98px;
	background-image: url(../images/baner.jpg);
	margin-top: 40px;
}

					/* ====================
							home box-3 
					=====================*/
#home_box_3{
	height: 412px;
	width: 100%;
	background-image: url(../images/h-box3-fon.jpg);
}

#home_box-3_divider{
	width: 100%;
	height: 6px;
	background-image: url(../images/h-divider.jpg);
}





					/* ====================
							footer 
					=====================*/

#footer{
	width: 100%;
	height: 68px;
	background-image: url(../images/footer.jpg);
}
