body{
	margin: 0;
	padding:0;
}

#header{
	height: 55px;
	width: 100%;
	background-image: url(../images/heander.jpg);
	font-size: 22px;
	font-weight: normal;
	text-indent: 1.8%;
	line-height: 55px;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

#header_left{
	height: 55px;
	width: 23%;
	border-right: 1px solid #353535;
	box-shadow: 0 0 10px rgba(0,0,0,1);
	float: left;
	min-width: 175px;
}

#header_button{
	height: 27px;
	width: 91px;
	/*border-radius: 14px;*/
	color: #fff;
	float: left;
	margin-top: 13px;
	border: #242424;
	font-size: 12px;
	background: url(../images/btn_view_site.png);
	outline: none;
}
#header_button:hover{
	background: url(../images/btn_view_site.png) 0 27px;
}

#header_center{
	height: 55px;
	width: 67%;
	text-align: center;
	float: left;
}

#header_right{
	height: 55px;
	width: 9%;
	float: right;
}

#box1{
	height: 33px;
	width: 100%;
	border: 1px solid #ABAFBC;
	float: left;
	background: #F2F2F5;
}

#box1_left{
	height: 33px;
	width: 23%;
	float: left;
	font-weight: bold;
	color: #666666;
	min-width: 175px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

.box1_link_messages{
	text-decoration: none;
	color: #666666;
}

.box1_link_messages:hover{
	color: #77BACE;
}

.text_left{
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	font-weight: bold;
}

#box1_img_center{
	height: 24px;
	width: 12px;
	background: url(../images/breadcrumb_divider.jpg);
	display: inline-block;
	float:left;
}

#box1_2link{
	height: 23px;
	width: 200px;
	border: 1px solid #C1C1C1;
	line-height: 23px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	border-radius: 5px;
	margin: 4px 0 0 23px;
}

#box1_2link a{
	text-decoration: none;
}

#content_left{
	height: 1500px;
	width: 23%;
	min-width: 175px;
	border-right: 1px solid #B4B4B7;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	float: left;
	background: #E2E2E5;
}

#content_left_form{
	padding-top: 10px;
}

#content_left_box1{
	padding-top: 15px;
	width: 95%;
	padding-bottom: 15px;
	padding-left: 10px;
}

#box1_center{
	height: 33px;
	width: 77%;
	float: left;
	box-shadow: 0 0 15px rgba(0,0,0,0.2) inset;
}

#box1_2link_left{
	height: 23px;
	width: 86px;
	float: left;
	display: inline-block;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 5px;
}

#box1_2link_left a{
	color: #44474F;
}

#box1_2link_right{
	height: 23px;
	width: 63px;
	font-weight: bold;
	float: left;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

#box1_2link_right a{
	color: #9E9E9E;
}

#content_left_box2{
	height: 503px;
	width: 100%;
}

#content_left a{
	color: #666666;
	text-decoration: none;
	height: 17px;
	line-height: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

#content_left li{
	list-style: none;
}

.content_form{
	height: 25px;
	width: 95%;
	border-radius: 20px;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
	outline: none;
	border: 1px solid #BBBBBB;
	background-image: url(../images/icn_search.jpg);
	background-repeat: no-repeat; 
	background-position: 10px 6px;
}

.content_form:focus {
	box-shadow: 0 0 10px rgba(58,226,206,0.7);
}

.logo{
	color: #959595;
}

#content_left_box2 .content_left_hide{
	float: right;
	font-size: 10px;
	margin-right: 20px;
}

#content_left_box2 .content_left_hide:hover{
	color: #77BACE;;
}

#content_left_box2 a{
	padding-left: 5px;
}

#content_left a.content_logolink:hover{
	text-decoration: underline;
}

#content_left_box3{
	color: #666666;
	height: 17px;
	line-height: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

.content_padding{
	padding-left: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}
								/* main */
#main{
	width: 76%;
	float: left;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	
}
								
								#main_box1{
	display: block;
	width: 95%;
	margin: 20px 3% 0 3%;
	margin-top: 20px;
    border-radius: 5px;
	background: #B5E5EF url(../images/icn_alert_info.png) no-repeat;
	background-position: 10px 10px;
	border: 1px solid #77BACE;
	color: #082B33;
	padding: 10px 0;
	text-indent: 40px;
	font-size: 14px;
}

#main_box2{
	display: block;
	width: 95%;
	height: 202px;
	border: 1px solid #9BA0AF;
	border-radius: 5px;
	margin: 20px 3% 0 3%;
}

#main_box2_header{
	display: block;
	width: 100%%;
	height: 38px;
	background: url(../images/secondary_bar.jpg);
	border-radius: 5px 5px 0 0;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
}

#main_box2_img{
	height: 110px;
	width: 497px;
	background: url(../images/main_box2.jpg);
	float: left;
	margin-left: 15px;
	margin-top: 20px;
}

#main_box2_table{
	height: 128px;
	width: 25%;
	border: 1px solid #CCCCCC;
	display: block;
	float: right;
	margin-right: 20px;
	margin-top: 15px;
	border-radius: 5px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	background: #F6F6F6;
}

#main_box2_table table{
	width: 100%
} 

#main_box2_table-left{
	height: 128px;
	width: 50%;
	display: block;
	float: left;
	text-align: center;
}

#main_box2_table-right{
	height: 128px;
	width: 50%;
	display: block;
	float: right;
	text-align: center;
}

.main_box2_table-day{
	font-size: 12px;
	font-weight: bold;
	color: #666;
}

.main_box2_table-numbers{
	font-size: 26px;
	font-weight: bold;
	color: #333333;
	text-align: center;
}

.main_box2_table-text{
	font-size: 10px;
	color: #999999;
	margin-bottom: 8px;
}

.main_header_text{
	padding-left: 20px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	line-height: 35px;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
}

#main_box3{
	height: 321px;
	width: 66%;
	border: 1px solid #9BA0AF;
	border-radius: 5px;
	margin: 20px 3% 0 3%;
	float: left;
	display: inline-block;
}

#main_box3_header{
	height: 38px;
	width: 100%;
	border-radius: 5px 5px 0 0;
	background: url(../images/secondary_bar.jpg);
}

#main_box3_ul{
	height: 26px;
	width: 146px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	display: inline-block;
	float: right;
	margin: 3px 6px 0 0;
	text-align: center;
	line-height: 24px;
}

#main_box3_ul a{
	text-decoration: none;
	color: #999;
	font-size: 12px;
	text-shadow: 0 1px 0 #fff;
}

#main_box3_ul a:hover{
	color: #444765;
}

#main_box3_li-posts{
	height: 24px;
	width: 53px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ccc;
	list-style: none;
	display: inline-block;
}

#main_box3_ul a:focus{
	box-shadow:inset, 0 0 10px rgba(0,0,0,0.5); 
	color: #444765;
}

#main_box3_li-comments{
	height: 24px;
	width: 83px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #ccc;
	list-style: none;
	display: inline-block;
}

.main_box3_table-col1{
	width: 9%;
	height: 34px;
}

.main_box3_table-col2{
	width: 37%;
	height: 34px;
}

.main_box3_table-col3{
	width: 15%;
	height: 34px;
}

.main_box3_table-col4{
	width: 23%;
	height: 34px;
}

.main_box3_table-col5{
	width: 16%;
	height: 34px;
}

#main_box3 table{
	width: 100%;
	text-align: left;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
	background: url(../images/table_sorter_header.jpg);
	background-repeat: repeat-x;
}

#main_box3 table tbody td input{
	height: 16px;
	width: 16px;
	margin-right: 6px;
}

#main_box3 table tbody td{
	border-bottom: 1px dotted #CCCCCC;
	height: 44px;
}

#main_box4{
	border: 1px solid #9BA0AF;
	width: 26%;
	height: 321px;
	float: left;
	border-radius: 5px;
	background: #ffffff;
	margin: 20px 0 0 0%;
	display: inline-block;
}

#main_box4_header{
	width: 100%;
	height: 38px;
	border-radius: 5px 5px 0 0;
	background: url(../images/secondary_bar.jpg);
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

#main_box4_header-title{
	color: #1F1F20;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #fff;
	font-size: 13px;
	margin: 8px 20px;
	display: inline-block;
}

#main_box4_content{
	width: 100%;
	height: 249px;
	overflow-y: scroll;
}

#main_box4_content-center{
	margin: 10px 20px;
	color: #666;
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	font-size: 12px;
}

#main_box4_footer{
	width: 100%;
	height: 33px;
	background: #EFF0F3;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #9CA1B0;
}

#main_box4_footer-imp1{
	border-radius: 5px;
	border: 1px solid #bbb;
	height: 20px;
	width: 70%;
	color: #ccc;
	display: block;
	float: left;
	margin: 5px 3.5% 0;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
}

#main_box4_footer-imp2{
	border-radius: 5px;
	border: 1px solid #bbb;
	height: 24px;
	width: 37px;
	display: block;
	float: left;
	margin-top: 4px;
}

#main_box5{
	height: 505px;
	width: 95%;
	border: 1px solid #9BA0AF;
	margin: 20px 3% 0 3%;
	border-radius: 5px;
	display: block;
	float: left;
}

#main_box5_header{
	height: 38px;
	width: 100%;
	background: url(../images/secondary_bar.jpg);
	border-radius: 5px 5px 0 0;
}

#main_box5-center{
	width: 95%;
	margin: 0 3% 0 3%;
	height: 423px;
}

#main_box5-content1{
	width: 100%;
	height: 67px;
	border: 1px solid #ccc;
	margin: 10px 0;
	border-radius: 5px;
	display: block;
	background: #F6F6F6;
}

.main_box5-content{
	line-height: 29px;
	text-shadow: 0 1px 0 #fff;
	font-weight: bold;
	padding-left: 10px;
	display: block;
	float: left;
	color: #666;
	font-size: 12px;
}

#main_box5-content1 input{
	display: block;
	float: left;
	width: 97%;
	height: 20px;
	margin: 0 1.5%;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
}

#main_box5-content2{
	width: 100%;
	height: 230px;
	border: 1px solid #ccc;
	margin: 10px 0;
	border-radius: 5px;
	display: block;
	background: #F6F6F6;
}

#main_box5-content2 textarea{
	display: block;
	float: left;
	width: 97%;
	height: 182px;
	margin: 0 1.5%;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
}

#main_box5-content3{
	width: 48%;
	height: 64px;
	border: 1px solid #ccc;
	margin: 10px 0;
	border-radius: 5px;
	display: block;
	background: #F6F6F6;
	float:left;
}

#main_box5-content3 select{
	width: 92%;
	margin: 0 10px;
	border: 1px solid #bbb;
	height: 20px;
	color: #666666;
	display: block;
}

#main_box5-content4{
	width: 48%;
	height: 64px;
	border: 1px solid #ccc;
	margin: 10px 0;
	border-radius: 5px;
	display: block;
	background: #F6F6F6;
	float: right;
}

#main_box5-content4 input{
	width: 92%;
	border-radius: 5px;
	border: 1px solid #BBBBBB;
	height: 20px;
	color: #666666;
	display: block;
	margin: 0 10px;
	padding-left: 10px;
	box-shadow: inset 0 2px 2px #ccc, 0 1px 0 #fff;
}

#main_box5-footer{
	width: 100%;
	border-radius: 0 0 5px 5px;
	height: 33px;
	border-top: 1px solid #9CA1B0;
	background: #F6F6F6;
}

#main_box5_footer-inputs{
	width: 290px;
	height: 25px;
	margin-top: 6px;
	display: block;
	float: right;
	margin-right: 15px;
}

#main_box5_footer-inputs select{
	width: 150px;
	height: 20px;
	display: inline-block;
}

.main_box5_footer-inputs2{
	padding: 1px 6px;
	border: 1px solid#30B0C8;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	border-radius: 5px;
	color: #003E49;
	text-shadow: 0 1px 0 #6CDCF9;
	display: inline-block;
	text-align: start;
	background: #76D7F3;
}

.main_box5_footer-inputs3{
	display: inline-block;
	background: #D0D1D4;
	border: 1px solid #A8A9A8;
	box-shadow: 0 1px 0 #fff;
	font-weight: bold;
	height: 22px;
	border-radius: 5px;
	padding: 0 10px;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}

#main_box6{
	
}